.header {
    width: 100%;
    /* background-color: red; */
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    letter-spacing: 0.25;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    margin-left: 5px;
    /* background-color: green; */
}

.logo {
    height: 30px;
    width: 30px;
}

.title-text h1 {
    font-size: 18px;
    color: #404244;
    line-height: 2.5rem;
    font-weight: 600;
}

.line {
    /* background-color: blue; */
    padding-bottom: 2px;
}

.line p {
    height: 100%;
    font-size: 30px;
    color: rgb(209, 209, 209);
    font-weight: lighter;
}

.header-center {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}

.temp-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 428px;
    /* background-color: aqua; */
    justify-content: space-evenly;
}

.btn-cntr {
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 0.6rem;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: transparent;
}

.btn-cntr img {
    height: 20px;
    width: 20px;
}

.btn-cntr:hover {
    cursor: pointer;
    /* background-color: #f4f0f0; */
    background-color: #e1e1e1;
}

.big-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.btn-cntr-big {
    border: none;
    padding: 14px 24px;
    background-color: #207DFF;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.btn-cntr-big:hover {
    cursor: pointer;
}

.hamburger {
    height: 24px;
    width: 24px;
    display: none;
}

@media screen and (max-width: 1125px) {
    .header {
        justify-content: right;
        /* padding-right: 20px; */
    }

    .header-left {
        position: fixed;
        left: 20px;
    }

    .hamburger {
        display: flex;
    }

}

@media screen and (max-width: 930px) {
    .header-center {
        gap: 10px;
    }


    .line {
        display: none;
    }

    .temp-btns {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .header-left {
        padding-left: 5px;
    }

    .header-center button {
        display: none;
    }
}