* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* @media screen and (max-width: 1428px) {
  .App {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1200px) {
  .App {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 738px) {
  .App {
    padding: 0px;
  }
} */